<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="inc/head.inc::head"></head>
<body>

<div th:replace="inc/menu.inc::top_nav"></div>

<div class="container">
    <h1>Add sources</h1>
</div>

<div class="container">
    <form action="/source/add/" th:object="${source}" method="post">
        <div class="mb-3">
            <label class="form-label">Host</label>
            <input type="text" th:field="*{host}" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Port</label>
            <input type="text" th:field="*{port}" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Database</label>
            <input type="text" th:field="*{database}" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" th:field="*{username}" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="text" th:field="*{password}" class="form-control" />
        </div>
        <div class="btn btn-primary mb-2">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>

</body>
</html>